<div id='section'>

  <div id='map'></div>

  <script type="text/javascript" charset="utf-8">
      var geojsonVulcanoes= <%= raw @geojson_vulcanoes.to_s.gsub('=>',':')%>;
      var geojsonAirports= <%= raw @geojson_airports.to_s.gsub('=>',':')%>;
          console.log(geojsonVulcanoes);
          console.log(geojsonAirports);

      mapboxgl.accessToken = 'pk.eyJ1IjoiZG9kYWsyNTgiLCJhIjoiY2pwMGRxendzMzNqaTNxbmhuOXNkbHNscSJ9.XKSuCTZkL0mBIK3uB_rUyQ';
      var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/outdoors-v9', //stylesheet location
          center: [6.852063075609196, 50.16904742413753], // starting position
          zoom: 3 // starting zoom
      });

      map.addControl(new mapboxgl.FullscreenControl());
      geojsonVulcanoes.forEach(function(marker) {
          if (marker === "[" || marker === "]" || marker === ",")
              return;
          // create a HTML element for each feature
          var el = document.createElement('div');
          el.className = 'marker vul';
          el.style.backgroundColor = marker.properties.color;
          el.style.height = marker.properties.size + 'px';
          el.style.width = marker.properties.size + 'px';

          var popup = new mapboxgl.Popup({offset: 25})
              .setHTML("<h3>Vulcano</h3>"+
                  "<h5>Name: " + marker.properties.name + "</h5>"+
                  "<h5>Elevation: " + marker.properties.elev + "</h5>"+
                  "<h5>Location: " + marker.properties.location + "</h5>"+
                  "<h5>Status: " + marker.properties.status + "</h5>"+
                  "<h5>Time frame: " + marker.properties.time_frame + "</h5>"+
                  "<h5>Type: " + marker.properties.type + "</h5>");

          // make a marker for each feature and add to the map
          new mapboxgl.Marker(el)
              .setLngLat(marker.geometry.coordinates)
              .setPopup(popup)
              .addTo(map);
      });

      geojsonAirports.forEach(function(marker) {
          if (marker === "[" || marker === "]" || marker === ",")
              return;
          // create a HTML element for each feature
          var el = document.createElement('div');
          el.className = 'marker';
          el.style.backgroundColor = marker.properties.color;
          el.style.height = 25 + 'px';
          el.style.width = 25 + 'px';

          var popup = new mapboxgl.Popup({offset: 25})
              .setHTML("<h3 id='airport'>Airport</h3>"+
                  "<h5>Name: " + marker.properties.name + "</h5>"+
                  "<h5>City: " + marker.properties.city + "</h5>"+
                  "<h5>Country: " + marker.properties.country + "</h5>");
          // make a marker for each feature and add to the map
          new mapboxgl.Marker(el)
              .setLngLat(marker.geometry.coordinates)
              .setPopup(popup)
              .addTo(map);
      });


      <% if @geojson_route != nil %>
        var geojsonRoute = <%=  raw @geojson_route.to_s.gsub('=>',':') %>;
        console.log(geojsonRoute);

      var routeJson = {
          "type": "FeatureCollection",
          "features": geojsonRoute
      };

      map.on('load', function() {

          map.addLayer({
              "id": "LineString",
              "type": "line",
              "source": {
                  "type": "geojson",
                  "data": routeJson
              },
              "layout": {
                  "line-join": "round",
                  "line-cap": "round"
              },
              "paint": {
                  "line-color": "#BF93E4",
                  "line-width": 5
              }
          });
      });

      // Show vulcanoes in certain distance from clicked route
      map.on('click', 'LineString', function(e) {
          var id = e.features[0].properties.id;

          $.ajax({
              url: "/map/vulcanoes_near_route",
              dataType: "json",
              data: {route_id: id, distance: 100},
              success: function (data) {
                  console.log(data);
                  $('.vul').remove();
                  data.forEach(function (marker) {
                      if (marker === "[" || marker === "]" || marker === ",")
                          return;
                      //create a HTML element for each feature
                      var el = document.createElement('div');
                      el.className = 'marker vul';
                      el.style.backgroundColor = "#ff515d";
                      el.style.height = marker.properties.size + 'px';
                      el.style.width = marker.properties.size + 'px';

                      var popup = new mapboxgl.Popup({offset: 25})
                          .setHTML("<h3>Vulcano</h3>"+
                              "<h5>Name: " + marker.properties.name + "</h5>"+
                              "<h5>Elevation: " + marker.properties.elev + "</h5>"+
                              "<h5>Location: " + marker.properties.location + "</h5>"+
                              "<h5>Status: " + marker.properties.status + "</h5>"+
                              "<h5>Time frame: " + marker.properties.time_frame + "</h5>"+
                              "<h5>Type: " + marker.properties.type + "</h5>");

                      //make a marker for each feature and add to the map
                      new mapboxgl.Marker(el)
                          .setLngLat(marker.geometry.coordinates)
                          .setPopup(popup)
                          .addTo(map);
                  });
              },
              error: function (data) {
                  console.log(data + ' error')
              }
          });
          new mapboxgl.Popup()
              .setLngLat(e.lngLat)
              .setHTML(e.features[0].properties.id)
              .addTo(map);
      });

      <% end %>
  </script>
</div>