// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#wrapper {
//  position: relative;
//}
//

.search_form {
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 5%;
  z-index: 5;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0.2;
}

.search_form:hover{
  opacity: 1;
}