<div id='section'>
  <div id='map'></div>

  <script type="text/javascript" charset="utf-8">
      mapboxgl.accessToken = 'pk.eyJ1IjoiZG9kYWsyNTgiLCJhIjoiY2pwMGRxendzMzNqaTNxbmhuOXNkbHNscSJ9.XKSuCTZkL0mBIK3uB_rUyQ';

      var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/outdoors-v9', //stylesheet location
          center: [11.255, 43.77], // starting position
          zoom: 13 // starting zoom
      });

      map.addControl(new mapboxgl.FullscreenControl());
  </script>
</div>